/* header와 footer처럼 page마다 공통적으로 배치되는 요소 */
header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 100;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px;
}
header .logo {
    margin-top: 17px;
}
header .logo a {
    display: block;
    width: 190px;
    height: 47px;
    font-size: 0;
    line-height: 0;
    position: relative;
}
header .logo a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='88' height='19' viewBox='0 0 88 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M78 3.97237C78 4.11266 78.0197 4.2554 78.0763 4.38831C78.3225 4.99376 78.9404 5.3654 79.7282 5.05037C79.9178 4.97407 85.1369 2.87221 85.1369 2.87221C85.1369 2.87221 83.0812 8.08256 83.0049 8.277C82.7046 9.02274 83.064 9.69957 83.677 9.92846C83.8124 9.97768 83.9527 10.0023 84.0931 9.99983C84.5904 9.99737 85.031 9.70203 85.2452 9.11626C85.2797 9.02766 87.8498 1.97142 87.9065 1.79913C87.9385 1.70069 88 1.46441 88 1.29951C88 0.950021 87.8695 0.620221 87.6209 0.37164C87.3747 0.125521 87.0522 0 86.7051 0C86.5401 0 86.4023 0.0295343 86.1955 0.0959866C86.0724 0.135366 79.4451 2.60148 78.8789 2.81314C78.3102 3.02481 78 3.47521 78 3.97237Z' fill='%23ED1C24'/%3E%3Cpath d='M54.4575 17.8497V7.46423H60.9989V9.16998H56.4571V11.6103H60.5909V13.316H56.4571V16.144H61.1622V17.8497H54.4575Z' fill='white'/%3E%3Cpath d='M68.4583 17.8499L68.0135 17.1725C67.8666 17.2745 67.7483 17.3887 67.6014 17.4948C67.0097 17.8947 66.2915 18.0212 65.5855 18.0212C63.8063 18.0212 62.1699 16.9521 62.1699 15.0219C62.1699 13.5488 63.084 12.9162 64.0389 11.994C63.5084 11.3044 62.9942 10.7453 62.9942 9.81489C62.9942 8.38663 64.2307 7.62354 65.5406 7.62354C66.8505 7.62354 67.936 8.44784 67.936 9.83121C67.936 10.9942 67.2137 11.6553 66.4057 12.3449L68.1237 14.6669C68.4502 14.0344 68.4502 13.3447 68.4053 12.651L69.9029 12.6673C69.9192 12.8999 69.9315 13.1366 69.9315 13.3733C69.9315 14.3772 69.6989 15.2708 69.0949 16.0666L70.4171 17.8458H68.4502L68.4583 17.8499ZM65.0876 13.3937C64.5898 13.8956 63.9124 14.3323 63.9124 15.128C63.9124 16.0829 64.7612 16.4828 65.6181 16.4828C66.1323 16.4828 66.6914 16.3481 67.0586 15.9686L65.0876 13.3937ZM65.561 9.03955C65.104 9.03955 64.7204 9.33336 64.7204 9.81897C64.7204 10.3495 65.104 10.8188 65.4304 11.2187C65.8548 10.8636 66.369 10.378 66.369 9.77816C66.369 9.3048 66.0017 9.03955 65.561 9.03955Z' fill='white'/%3E%3Cpath d='M78.4195 16.7317C77.7462 17.658 76.6403 18.0538 75.5222 18.0538C74.1674 18.0538 72.931 17.556 72.0536 16.5073C71.1273 15.4177 70.8457 14.0996 70.8457 12.7162C70.8457 11.994 70.9069 11.2717 71.115 10.582C71.6863 8.56614 73.3227 7.25623 75.4365 7.25623C77.685 7.25623 78.9664 8.6396 79.0847 10.831H77.3626C77.1872 9.75772 76.5832 8.9783 75.4202 8.9783C73.437 8.9783 72.9228 11.137 72.9228 12.7285C72.9228 14.32 73.539 16.3155 75.4651 16.3155C76.8321 16.3155 77.3626 15.1973 77.4198 13.9935H79.2153C79.1745 14.9933 79.0276 15.9033 78.4236 16.7276' fill='white'/%3E%3Cpath d='M5.83545 17.8457L2.0118 12.3448L5.81913 7.46021H8.1125L4.22764 12.2714L8.37367 17.8416H5.83137L5.83545 17.8457ZM0 7.46429H1.99956V17.8457H0V7.46429Z' fill='white'/%3E%3Cpath d='M16.9228 15.6379C16.38 17.3722 14.7192 18.0537 13.0093 18.0537C11.2995 18.0537 9.74475 17.409 9.15713 15.744C8.93677 15.1238 8.9082 14.4504 8.9082 13.8016V7.46014H10.9118V13.4139C10.9118 14.0464 10.8792 14.8585 11.2057 15.4298C11.5688 16.095 12.3238 16.3112 13.0297 16.3112C13.6867 16.3112 14.4417 16.0909 14.8049 15.4869C15.1476 14.9156 15.1272 14.1689 15.1272 13.5159V7.45605H17.1309V13.9403C17.1309 14.5157 17.1023 15.087 16.9228 15.6338' fill='white'/%3E%3Cpath d='M27.0513 17.8456V9.74536L24.8314 17.8456H22.7747L20.5834 9.74536V17.8456H18.7878V7.46423H21.5668L23.8153 15.7155L26.0964 7.46423H28.8469V17.8456H27.0513Z' fill='white'/%3E%3Cpath d='M36.6654 17.8456V13.2589H32.5479V17.8456H30.5483V7.46423H32.5479V11.6103H36.6654V7.46423H38.6649V17.8456H36.6654Z' fill='white'/%3E%3Cpath d='M44.6759 8.96605C42.6641 8.96605 42.0724 10.9942 42.0724 12.6591C42.0724 14.3241 42.66 16.3481 44.6881 16.3481C46.7162 16.3481 47.3079 14.32 47.3079 12.6591C47.3079 10.9983 46.6917 8.96605 44.6759 8.96605ZM47.0304 17.4377C46.3245 17.8661 45.4838 18.0538 44.6759 18.0538C43.9985 18.0538 43.219 17.8825 42.6069 17.5682C40.689 16.5848 40.0034 14.6995 40.0034 12.655C40.0034 10.6106 40.6319 8.84363 42.4478 7.81529C43.1211 7.4317 43.9168 7.25623 44.6922 7.25623C45.9164 7.25623 47.108 7.70103 47.9568 8.58246C49.0055 9.6557 49.385 11.2023 49.385 12.6591C49.385 14.5975 48.7688 16.3889 47.0345 17.4377' fill='white'/%3E%3C/svg%3E ");
}
@media screen and (min-width:881px){
    header .gnb {
        font-family: 'Pretendard';
        font-size: 16px;
        font-weight: 500;
    }
    header .gnb button {
        display: none;
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex;
        text-align: center;
    }
    header .gnb .gnb_wrap ul.depth1>li {
        width: 115px;
        position: relative; /* depth2 정렬기준 */
    }
    header .gnb .gnb_wrap ul.depth1>li>a {
        display: block; /* li 사이즈와 동일해짐 */
        font-size: 24px;
        line-height: 100px; /* header의 높이와 동일하게 */
    }
    header .gnb .gnb_wrap ul.depth2 {
        display: none; /* 오버 했을때만 보이게 */
        position: absolute;
        left: 0;
        top: 100px; /* header 높이만큼 띄움 */
        width: 100%;
        padding: 20px 0 0 0; /* 1차메뉴 a와 2차 메뉴 사이의 여백은 반드시 padding으로 줘야함 */
    }
    header .gnb .gnb_wrap ul.depth2>li>a {
        display: block;
        line-height: 2.2;
        color: #3d3d3d;
    }
    header .gnb .gnb_wrap ul.depth2>li>a:hover {
        font-weight: 700;
        color: #ED1C24;
    }
    header .gnb .gnb_wrap ul.depth2>li>a[target="_blank"]>span {
        display: inline-block;
        position: relative;
        padding-right: 17px;
    }
    header .gnb .gnb_wrap ul.depth2>li>a[target="_blank"]>span::after {
        content: "";
        position: absolute;
        right: 0;
        top: 10px;
        width: 15px;
        height: 15px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.50969 12.5C3.22198 12.5 2.98177 12.4036 2.78906 12.2109C2.59635 12.0182 2.5 11.778 2.5 11.4903V3.50969C2.5 3.22198 2.59635 2.98177 2.78906 2.78906C2.98177 2.59635 3.22198 2.5 3.50969 2.5H7.01922V3.125H3.50969C3.41344 3.125 3.32526 3.16505 3.24516 3.24516C3.16505 3.32526 3.125 3.41344 3.125 3.50969V11.4903C3.125 11.5866 3.16505 11.6747 3.24516 11.7548C3.32526 11.8349 3.41344 11.875 3.50969 11.875H11.4903C11.5866 11.875 11.6747 11.8349 11.7548 11.7548C11.8349 11.6747 11.875 11.5866 11.875 11.4903V7.98078H12.5V11.4903C12.5 11.778 12.4036 12.0182 12.2109 12.2109C12.0182 12.4036 11.778 12.5 11.4903 12.5H3.50969ZM6.08656 9.35578L5.64422 8.91344L11.4327 3.125H8.75V2.5H12.5V6.25H11.875V3.56734L6.08656 9.35578Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap ul.depth2>li>a[target="_blank"]:hover>span::after {
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.50969 12.5C3.22198 12.5 2.98177 12.4036 2.78906 12.2109C2.59635 12.0182 2.5 11.778 2.5 11.4903V3.50969C2.5 3.22198 2.59635 2.98177 2.78906 2.78906C2.98177 2.59635 3.22198 2.5 3.50969 2.5H7.01922V3.125H3.50969C3.41344 3.125 3.32526 3.16505 3.24516 3.24516C3.16505 3.32526 3.125 3.41344 3.125 3.50969V11.4903C3.125 11.5866 3.16505 11.6747 3.24516 11.7548C3.32526 11.8349 3.41344 11.875 3.50969 11.875H11.4903C11.5866 11.875 11.6747 11.8349 11.7548 11.7548C11.8349 11.6747 11.875 11.5866 11.875 11.4903V7.98078H12.5V11.4903C12.5 11.778 12.4036 12.0182 12.2109 12.2109C12.0182 12.4036 11.778 12.5 11.4903 12.5H3.50969ZM6.08656 9.35578L5.64422 8.91344L11.4327 3.125H8.75V2.5H12.5V6.25H11.875V3.56734L6.08656 9.35578Z' fill='%23ED1C24'/%3E%3C/svg%3E%0A");
    }
    header .tnb {
        display: flex;
        margin: 37px 0 0 0;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
    }
    header .tnb .lang {
        display: block;
        padding: 0 37px 0 0;
        position: relative;
        margin-right: 27px;
    }
    header .tnb .lang::before {
        content: "";
        position: absolute;
        right: 6px;
        top: -1px;
        height: 24px;
        width: 24px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.7947 21.7599L17.3447 18.3099V21.2464H16.3447V16.5964H20.9947V17.5964H18.0332L21.4832 21.0464L20.7947 21.7599ZM12.3447 21.5964C11.0997 21.5964 9.92973 21.3603 8.83473 20.8879C7.73973 20.4156 6.78723 19.7746 5.97723 18.9649C5.16723 18.1553 4.52598 17.2031 4.05348 16.1084C3.58098 15.0139 3.34473 13.8444 3.34473 12.5997C3.34473 11.3552 3.58089 10.1851 4.05323 9.08944C4.52556 7.99394 5.16656 7.04094 5.97623 6.23044C6.78589 5.41994 7.73806 4.77835 8.83273 4.30569C9.92723 3.83285 11.0968 3.59644 12.3415 3.59644C13.586 3.59644 14.7561 3.83268 15.8517 4.30518C16.9472 4.77768 17.9002 5.41894 18.7107 6.22894C19.5212 7.03894 20.1628 7.99144 20.6355 9.08643C21.1083 10.1814 21.3447 11.3514 21.3447 12.5964C21.3447 12.8656 21.3329 13.1349 21.3092 13.4042C21.2854 13.6734 21.2498 13.9426 21.2025 14.2119H20.1717C20.2294 13.9426 20.2726 13.6734 20.3015 13.4042C20.3303 13.1349 20.3447 12.8656 20.3447 12.5964C20.3447 12.2033 20.3175 11.8101 20.263 11.4169C20.2085 11.0238 20.1203 10.6349 19.9985 10.2502H15.964C16.0396 10.6349 16.0931 11.0238 16.1245 11.4169C16.156 11.8101 16.1717 12.2033 16.1717 12.5964C16.1717 12.8656 16.164 13.1349 16.1485 13.4042C16.1331 13.6734 16.1101 13.9426 16.0792 14.2119H15.0792C15.1101 13.9426 15.1331 13.6734 15.1485 13.4042C15.164 13.1349 15.1717 12.8656 15.1717 12.5964C15.1717 12.2033 15.156 11.8101 15.1245 11.4169C15.0931 11.0238 15.0396 10.6349 14.964 10.2502H9.72548C9.64981 10.6349 9.59631 11.0243 9.56498 11.4184C9.53348 11.8128 9.51773 12.207 9.51773 12.6012C9.51773 12.9955 9.53348 13.3882 9.56498 13.7792C9.59631 14.1702 9.64981 14.558 9.72548 14.9427H13.7292V15.9427H9.96398C10.207 16.7994 10.521 17.6212 10.906 18.4082C11.2908 19.1952 11.7704 19.9272 12.3447 20.6042C12.6139 20.6042 12.8831 20.5898 13.1525 20.5609C13.4216 20.5321 13.6909 20.501 13.9602 20.4677V21.4599C13.6909 21.4933 13.4216 21.5244 13.1525 21.5532C12.8831 21.582 12.6139 21.5964 12.3447 21.5964ZM4.69098 14.9427H8.72548C8.64981 14.558 8.59631 14.1686 8.56498 13.7744C8.53348 13.3801 8.51773 12.9859 8.51773 12.5917C8.51773 12.1974 8.53348 11.8047 8.56498 11.4137C8.59631 11.0227 8.64981 10.6349 8.72548 10.2502H4.69098C4.56914 10.6349 4.48098 11.0243 4.42648 11.4184C4.37198 11.8128 4.34473 12.207 4.34473 12.6012C4.34473 12.9955 4.37198 13.3882 4.42648 13.7792C4.48098 14.1702 4.56914 14.558 4.69098 14.9427ZM5.09848 9.25019H8.92398C9.11864 8.41569 9.38931 7.61602 9.73598 6.85119C10.0828 6.08652 10.5281 5.36952 11.0717 4.70019C9.74473 4.89769 8.55756 5.39994 7.51023 6.20694C6.46273 7.0141 5.65881 8.02852 5.09848 9.25019ZM11.0717 20.4927C10.5666 19.8105 10.1374 19.0871 9.78423 18.3224C9.43089 17.5576 9.14723 16.7644 8.93323 15.9427H5.09848C5.65881 17.1515 6.46589 18.1595 7.51973 18.9667C8.57356 19.7737 9.75756 20.2824 11.0717 20.4927ZM9.96398 9.25019H14.7255C14.4998 8.39252 14.1849 7.57727 13.7807 6.80444C13.3766 6.0316 12.8979 5.29302 12.3447 4.58869C11.7832 5.26569 11.3025 5.99744 10.9025 6.78394C10.5025 7.57044 10.1896 8.39252 9.96398 9.25019ZM15.7562 9.25019H19.591C19.0306 8.02852 18.2267 7.01094 17.1792 6.19744C16.1319 5.38393 14.9447 4.88485 13.6177 4.70019C14.1229 5.38235 14.5425 6.10902 14.8765 6.88018C15.2105 7.65135 15.5037 8.44135 15.7562 9.25019Z' fill='white'/%3E%3C/svg%3E ");
    }
    header .tnb .aretera {
        display: block;
        padding: 0 23px 0 0;
        position: relative;
    }
    header .tnb .aretera::before {
        content: "";
        position: absolute;
        right: 0px;
        top: -1px;
        height: 24px;
        width: 24px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.53493 20.5964C6.0746 20.5964 5.69027 20.4423 5.38193 20.1339C5.0736 19.8256 4.91943 19.4413 4.91943 18.9809V6.21194C4.91943 5.7516 5.0736 5.36727 5.38193 5.05894C5.69027 4.7506 6.0746 4.59644 6.53493 4.59644H12.1502V5.59644H6.53493C6.38093 5.59644 6.23985 5.66052 6.11168 5.78869C5.98352 5.91685 5.91943 6.05794 5.91943 6.21194V18.9809C5.91943 19.1349 5.98352 19.276 6.11168 19.4042C6.23985 19.5324 6.38093 19.5964 6.53493 19.5964H19.3039C19.4579 19.5964 19.599 19.5324 19.7272 19.4042C19.8554 19.276 19.9194 19.1349 19.9194 18.9809V13.3657H20.9194V18.9809C20.9194 19.4413 20.7653 19.8256 20.4569 20.1339C20.1486 20.4423 19.7643 20.5964 19.3039 20.5964H6.53493ZM10.6579 15.5657L9.95018 14.8579L19.2117 5.59644H14.9194V4.59644H20.9194V10.5964H19.9194V6.30419L10.6579 15.5657Z' fill='white'/%3E%3C/svg%3E ");
    
    }
    header .tnb a:hover.lang { 
        color: #ED1C24;
    }
    header .tnb a:hover.lang::before {
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.7947 21.1635L17.3447 17.7135V20.65H16.3447V16H20.9947V17H18.0332L21.4832 20.45L20.7947 21.1635ZM12.3447 21C11.0997 21 9.92973 20.7638 8.83473 20.2915C7.73973 19.8192 6.78723 19.1782 5.97723 18.3685C5.16723 17.5588 4.52598 16.6067 4.05348 15.512C3.58098 14.4175 3.34473 13.2479 3.34473 12.0033C3.34473 10.7588 3.58089 9.58867 4.05323 8.493C4.52556 7.3975 5.16656 6.4445 5.97623 5.634C6.78589 4.8235 7.73806 4.18192 8.83273 3.70925C9.92723 3.23642 11.0968 3 12.3415 3C13.586 3 14.7561 3.23625 15.8517 3.70875C16.9472 4.18125 17.9002 4.8225 18.7107 5.6325C19.5212 6.4425 20.1628 7.395 20.6355 8.49C21.1083 9.585 21.3447 10.755 21.3447 12C21.3447 12.2692 21.3329 12.5384 21.3092 12.8077C21.2854 13.0769 21.2498 13.3462 21.2025 13.6155H20.1717C20.2294 13.3462 20.2726 13.0769 20.3015 12.8077C20.3303 12.5384 20.3447 12.2692 20.3447 12C20.3447 11.6068 20.3175 11.2137 20.263 10.8205C20.2085 10.4273 20.1203 10.0384 19.9985 9.65375H15.964C16.0396 10.0384 16.0931 10.4273 16.1245 10.8205C16.156 11.2137 16.1717 11.6068 16.1717 12C16.1717 12.2692 16.164 12.5384 16.1485 12.8077C16.1331 13.0769 16.1101 13.3462 16.0792 13.6155H15.0792C15.1101 13.3462 15.1331 13.0769 15.1485 12.8077C15.164 12.5384 15.1717 12.2692 15.1717 12C15.1717 11.6068 15.156 11.2137 15.1245 10.8205C15.0931 10.4273 15.0396 10.0384 14.964 9.65375H9.72548C9.64981 10.0384 9.59631 10.4278 9.56498 10.822C9.53348 11.2163 9.51773 11.6106 9.51773 12.0048C9.51773 12.3991 9.53348 12.7917 9.56498 13.1827C9.59631 13.5738 9.64981 13.9616 9.72548 14.3463H13.7292V15.3463H9.96398C10.207 16.2029 10.521 17.0247 10.906 17.8117C11.2908 18.5987 11.7704 19.3307 12.3447 20.0077C12.6139 20.0077 12.8831 19.9933 13.1525 19.9645C13.4216 19.9357 13.6909 19.9046 13.9602 19.8713V20.8635C13.6909 20.8968 13.4216 20.9279 13.1525 20.9568C12.8831 20.9856 12.6139 21 12.3447 21ZM4.69098 14.3463H8.72548C8.64981 13.9616 8.59631 13.5722 8.56498 13.178C8.53348 12.7837 8.51773 12.3894 8.51773 11.9952C8.51773 11.6009 8.53348 11.2083 8.56498 10.8173C8.59631 10.4262 8.64981 10.0384 8.72548 9.65375H4.69098C4.56914 10.0384 4.48098 10.4278 4.42648 10.822C4.37198 11.2163 4.34473 11.6106 4.34473 12.0048C4.34473 12.3991 4.37198 12.7917 4.42648 13.1827C4.48098 13.5738 4.56914 13.9616 4.69098 14.3463ZM5.09848 8.65375H8.92398C9.11864 7.81925 9.38931 7.01958 9.73598 6.25475C10.0828 5.49008 10.5281 4.77308 11.0717 4.10375C9.74473 4.30125 8.55756 4.8035 7.51023 5.6105C6.46273 6.41767 5.65881 7.43208 5.09848 8.65375ZM11.0717 19.8962C10.5666 19.2141 10.1374 18.4907 9.78423 17.726C9.43089 16.9612 9.14723 16.1679 8.93323 15.3463H5.09848C5.65881 16.5551 6.46589 17.5631 7.51973 18.3702C8.57356 19.1772 9.75756 19.6859 11.0717 19.8962ZM9.96398 8.65375H14.7255C14.4998 7.79608 14.1849 6.98083 13.7807 6.208C13.3766 5.43517 12.8979 4.69658 12.3447 3.99225C11.7832 4.66925 11.3025 5.401 10.9025 6.1875C10.5025 6.974 10.1896 7.79608 9.96398 8.65375ZM15.7562 8.65375H19.591C19.0306 7.43208 18.2267 6.4145 17.1792 5.601C16.1319 4.7875 14.9447 4.28842 13.6177 4.10375C14.1229 4.78592 14.5425 5.51258 14.8765 6.28375C15.2105 7.05492 15.5037 7.84492 15.7562 8.65375Z' fill='%23ED1C24'/%3E%3C/svg%3E ");
    }
    header .tnb a:hover.aretera {
        color: #ED1C24;
    }
    header .tnb a:hover.aretera::before {
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.53493 20C6.0746 20 5.69027 19.8458 5.38193 19.5375C5.0736 19.2292 4.91943 18.8448 4.91943 18.3845V5.6155C4.91943 5.15517 5.0736 4.77083 5.38193 4.4625C5.69027 4.15417 6.0746 4 6.53493 4H12.1502V5H6.53493C6.38093 5 6.23985 5.06408 6.11168 5.19225C5.98352 5.32042 5.91943 5.4615 5.91943 5.6155V18.3845C5.91943 18.5385 5.98352 18.6796 6.11168 18.8077C6.23985 18.9359 6.38093 19 6.53493 19H19.3039C19.4579 19 19.599 18.9359 19.7272 18.8077C19.8554 18.6796 19.9194 18.5385 19.9194 18.3845V12.7692H20.9194V18.3845C20.9194 18.8448 20.7653 19.2292 20.4569 19.5375C20.1486 19.8458 19.7643 20 19.3039 20H6.53493ZM10.6579 14.9692L9.95018 14.2615L19.2117 5H14.9194V4H20.9194V10H19.9194V5.70775L10.6579 14.9692Z' fill='%23ED1C24'/%3E%3C/svg%3E ");
    }
    header.fixed {
        position: fixed;
        color: #1d1d1d;
        background-color: #fff;
    }
    header.fixed .logo a::before {
        background-image: url("data:image/svg+xml,%3Csvg width='191' height='48' viewBox='0 0 191 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M156.506 13.4984C156.506 13.9736 156.573 14.4571 156.764 14.9073C157.598 16.9582 159.691 18.2171 162.358 17.15C163 16.8915 180.675 9.77175 180.675 9.77175C180.675 9.77175 173.713 27.4212 173.455 28.0798C172.438 30.6059 173.655 32.8986 175.731 33.6739C176.189 33.8406 176.665 33.924 177.14 33.9157C178.824 33.9073 180.316 32.9069 181.042 30.9227C181.158 30.6226 189.862 6.72041 190.054 6.13682C190.162 5.80334 190.371 5.00299 190.371 4.44441C190.371 3.26056 189.929 2.1434 189.087 1.30137C188.253 0.467667 187.161 0.0424805 185.985 0.0424805C185.427 0.0424805 184.96 0.142524 184.26 0.367623C183.843 0.501015 161.4 8.85468 159.482 9.57166C157.556 10.2886 156.506 11.8143 156.506 13.4984Z' fill='%23ED1C24'/%3E%3Cpath d='M111.628 46.6796V25.4619H124.992V28.9468H115.713V33.9323H124.158V37.4172H115.713V43.1947H125.326V46.6796H111.628Z' fill='%23454B52'/%3E%3Cpath d='M140.232 46.6796L139.323 45.2957C139.023 45.5041 138.781 45.7375 138.481 45.9543C137.272 46.7713 135.805 47.0298 134.363 47.0298C130.728 47.0298 127.385 44.8455 127.385 40.9021C127.385 37.8924 129.252 36.6002 131.203 34.716C130.119 33.3071 129.069 32.1649 129.069 30.2641C129.069 27.3461 131.595 25.7871 134.271 25.7871C136.947 25.7871 139.165 27.4712 139.165 30.2974C139.165 32.6735 137.689 34.0241 136.039 35.433L139.548 40.1768C140.215 38.8845 140.215 37.4756 140.124 36.0583L143.183 36.0916C143.217 36.5668 143.242 37.0504 143.242 37.5339C143.242 39.5848 142.767 41.4106 141.533 43.0363L144.234 46.6713H140.215L140.232 46.6796ZM133.346 37.5756C132.329 38.6011 130.945 39.4931 130.945 41.1188C130.945 43.0697 132.679 43.8867 134.43 43.8867C135.48 43.8867 136.622 43.6116 137.372 42.8363L133.346 37.5756ZM134.313 28.68C133.379 28.68 132.595 29.2803 132.595 30.2724C132.595 31.3562 133.379 32.315 134.046 33.132C134.913 32.4067 135.964 31.4146 135.964 30.189C135.964 29.2219 135.213 28.68 134.313 28.68Z' fill='%23454B52'/%3E%3Cpath d='M160.582 44.3952C159.207 46.2877 156.947 47.0964 154.663 47.0964C151.895 47.0964 149.369 46.0793 147.577 43.9367C145.684 41.7107 145.109 39.0179 145.109 36.1916C145.109 34.716 145.234 33.2403 145.659 31.8314C146.826 27.7129 150.169 25.0367 154.488 25.0367C159.082 25.0367 161.699 27.863 161.941 32.3399H158.423C158.065 30.1473 156.831 28.555 154.455 28.555C150.403 28.555 149.352 32.9652 149.352 36.2166C149.352 39.4681 150.611 43.5449 154.546 43.5449C157.339 43.5449 158.423 41.2605 158.54 38.8011H162.208C162.125 40.8437 161.825 42.7028 160.591 44.3869' fill='%23454B52'/%3E%3Cpath d='M12.2925 46.6713L4.48074 35.433L12.2592 25.4536H16.9445L9.00773 35.2829L17.4781 46.6629H12.2842L12.2925 46.6713ZM0.370605 25.462H4.45573V46.6713H0.370605V25.462Z' fill='%23454B52'/%3E%3Cpath d='M34.9442 42.1609C33.8353 45.7041 30.4422 47.0963 26.949 47.0963C23.4558 47.0963 20.2794 45.7791 19.0789 42.3776C18.6287 41.1104 18.5703 39.7348 18.5703 38.4092V25.4535H22.6638V37.6172C22.6638 38.9094 22.5971 40.5685 23.264 41.7357C24.006 43.0946 25.5484 43.5365 26.9907 43.5365C28.3329 43.5365 29.8753 43.0863 30.6173 41.8524C31.3176 40.6852 31.2759 39.1595 31.2759 37.8256V25.4452H35.3693V38.6927C35.3693 39.8682 35.311 41.0354 34.9442 42.1525' fill='%23454B52'/%3E%3Cpath d='M55.6363 46.6712V30.1223L51.101 46.6712H46.8991L42.4222 30.1223V46.6712H38.7539V25.4619H44.4314L49.0251 42.3193L53.6855 25.4619H59.3046V46.6712H55.6363Z' fill='%23454B52'/%3E%3Cpath d='M75.2784 46.6712V37.3004H66.8664V46.6712H62.7812V25.4619H66.8664V33.9323H75.2784V25.4619H79.3635V46.6712H75.2784Z' fill='%23454B52'/%3E%3Cpath d='M91.644 28.5299C87.5339 28.5299 86.325 32.6734 86.325 36.0749C86.325 39.4764 87.5255 43.6116 91.669 43.6116C95.8125 43.6116 97.0214 39.4681 97.0214 36.0749C97.0214 32.6818 95.7625 28.5299 91.644 28.5299ZM96.4544 45.8375C95.0121 46.7129 93.2947 47.0964 91.644 47.0964C90.2601 47.0964 88.6677 46.7463 87.4171 46.1043C83.4988 44.0951 82.0981 40.2434 82.0981 36.0666C82.0981 31.8897 83.382 28.2798 87.092 26.1789C88.4676 25.3952 90.0933 25.0367 91.6773 25.0367C94.1784 25.0367 96.6128 25.9455 98.3469 27.7463C100.49 29.9389 101.265 33.0986 101.265 36.0749C101.265 40.035 100.006 43.6949 96.4628 45.8375' fill='%23454B52'/%3E%3C/svg%3E ");
    }
    header.fixed .tnb .lang::before {
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.7947 21.7599L17.3447 18.3099V21.2464H16.3447V16.5964H20.9947V17.5964H18.0332L21.4832 21.0464L20.7947 21.7599ZM12.3447 21.5964C11.0997 21.5964 9.92973 21.3603 8.83473 20.8879C7.73973 20.4156 6.78723 19.7746 5.97723 18.9649C5.16723 18.1553 4.52598 17.2031 4.05348 16.1084C3.58098 15.0139 3.34473 13.8444 3.34473 12.5997C3.34473 11.3552 3.58089 10.1851 4.05323 9.08944C4.52556 7.99394 5.16656 7.04094 5.97623 6.23044C6.78589 5.41994 7.73806 4.77835 8.83273 4.30569C9.92723 3.83285 11.0968 3.59644 12.3415 3.59644C13.586 3.59644 14.7561 3.83268 15.8517 4.30518C16.9472 4.77768 17.9002 5.41894 18.7107 6.22894C19.5212 7.03894 20.1628 7.99144 20.6355 9.08643C21.1083 10.1814 21.3447 11.3514 21.3447 12.5964C21.3447 12.8656 21.3329 13.1349 21.3092 13.4042C21.2854 13.6734 21.2498 13.9426 21.2025 14.2119H20.1717C20.2294 13.9426 20.2726 13.6734 20.3015 13.4042C20.3303 13.1349 20.3447 12.8656 20.3447 12.5964C20.3447 12.2033 20.3175 11.8101 20.263 11.4169C20.2085 11.0238 20.1203 10.6349 19.9985 10.2502H15.964C16.0396 10.6349 16.0931 11.0238 16.1245 11.4169C16.156 11.8101 16.1717 12.2033 16.1717 12.5964C16.1717 12.8656 16.164 13.1349 16.1485 13.4042C16.1331 13.6734 16.1101 13.9426 16.0792 14.2119H15.0792C15.1101 13.9426 15.1331 13.6734 15.1485 13.4042C15.164 13.1349 15.1717 12.8656 15.1717 12.5964C15.1717 12.2033 15.156 11.8101 15.1245 11.4169C15.0931 11.0238 15.0396 10.6349 14.964 10.2502H9.72548C9.64981 10.6349 9.59631 11.0243 9.56498 11.4184C9.53348 11.8128 9.51773 12.207 9.51773 12.6012C9.51773 12.9955 9.53348 13.3882 9.56498 13.7792C9.59631 14.1702 9.64981 14.558 9.72548 14.9427H13.7292V15.9427H9.96398C10.207 16.7994 10.521 17.6212 10.906 18.4082C11.2908 19.1952 11.7704 19.9272 12.3447 20.6042C12.6139 20.6042 12.8831 20.5898 13.1525 20.5609C13.4216 20.5321 13.6909 20.501 13.9602 20.4677V21.4599C13.6909 21.4933 13.4216 21.5244 13.1525 21.5532C12.8831 21.582 12.6139 21.5964 12.3447 21.5964ZM4.69098 14.9427H8.72548C8.64981 14.558 8.59631 14.1686 8.56498 13.7744C8.53348 13.3801 8.51773 12.9859 8.51773 12.5917C8.51773 12.1974 8.53348 11.8047 8.56498 11.4137C8.59631 11.0227 8.64981 10.6349 8.72548 10.2502H4.69098C4.56914 10.6349 4.48098 11.0243 4.42648 11.4184C4.37198 11.8128 4.34473 12.207 4.34473 12.6012C4.34473 12.9955 4.37198 13.3882 4.42648 13.7792C4.48098 14.1702 4.56914 14.558 4.69098 14.9427ZM5.09848 9.25019H8.92398C9.11864 8.41569 9.38931 7.61602 9.73598 6.85119C10.0828 6.08652 10.5281 5.36952 11.0717 4.70019C9.74473 4.89769 8.55756 5.39994 7.51023 6.20694C6.46273 7.0141 5.65881 8.02852 5.09848 9.25019ZM11.0717 20.4927C10.5666 19.8105 10.1374 19.0871 9.78423 18.3224C9.43089 17.5576 9.14723 16.7644 8.93323 15.9427H5.09848C5.65881 17.1515 6.46589 18.1595 7.51973 18.9667C8.57356 19.7737 9.75756 20.2824 11.0717 20.4927ZM9.96398 9.25019H14.7255C14.4998 8.39252 14.1849 7.57727 13.7807 6.80444C13.3766 6.0316 12.8979 5.29302 12.3447 4.58869C11.7832 5.26569 11.3025 5.99744 10.9025 6.78394C10.5025 7.57044 10.1896 8.39252 9.96398 9.25019ZM15.7562 9.25019H19.591C19.0306 8.02852 18.2267 7.01094 17.1792 6.19744C16.1319 5.38393 14.9447 4.88485 13.6177 4.70019C14.1229 5.38235 14.5425 6.10902 14.8765 6.88018C15.2105 7.65135 15.5037 8.44135 15.7562 9.25019Z' fill='%231D1D1D'/%3E%3C/svg%3E ");
    }
    header.fixed .tnb .aretera::before {
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.53493 20.5964C6.0746 20.5964 5.69027 20.4423 5.38193 20.1339C5.0736 19.8256 4.91943 19.4413 4.91943 18.9809V6.21194C4.91943 5.7516 5.0736 5.36727 5.38193 5.05894C5.69027 4.7506 6.0746 4.59644 6.53493 4.59644H12.1502V5.59644H6.53493C6.38093 5.59644 6.23985 5.66052 6.11168 5.78869C5.98352 5.91685 5.91943 6.05794 5.91943 6.21194V18.9809C5.91943 19.1349 5.98352 19.276 6.11168 19.4042C6.23985 19.5324 6.38093 19.5964 6.53493 19.5964H19.3039C19.4579 19.5964 19.599 19.5324 19.7272 19.4042C19.8554 19.276 19.9194 19.1349 19.9194 18.9809V13.3657H20.9194V18.9809C20.9194 19.4413 20.7653 19.8256 20.4569 20.1339C20.1486 20.4423 19.7643 20.5964 19.3039 20.5964H6.53493ZM10.6579 15.5657L9.95018 14.8579L19.2117 5.59644H14.9194V4.59644H20.9194V10.5964H19.9194V6.30419L10.6579 15.5657Z' fill='%231D1D1D'/%3E%3C/svg%3E ");
    }
    header.fixed .gnb .gnb_wrap ul.depth1>li>a:hover>span {
        color: #ED1C24;
        border-bottom: 3px solid #ED1C24;
    }
    
    /* 메뉴에 마우스 오버하면 fixed,menu_over클래스 추가됨 */
    header.menu_over::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 450px;
        background-color: #fff;
        box-shadow: 0 1px 10px rgba(0,0,0,0.2);
        z-index: -1; /* visual 아래로는 안내려감 header에 속해있기때문에 */
    }
    header.menu_over::after {
        content: "";
        position: absolute;
        left: 0;
        top: 100px;
        width: 100%;
        height: 1px;
        background-color: #e6e6e6;
    }
    header.menu_over .gnb .gnb_wrap ul.depth1>li.on>a>span {
        color: #ED1C24;
        border-bottom: 3px solid #ED1C24;
    }
    header.menu_over .gnb .gnb_wrap ul.depth2 {
        display: block;
    }
} /* 881px 이상 pc media */

@media screen and (min-width:881px) and (max-width:1279px) {
    header .gnb .gnb_wrap ul.depth1>li {
        width: 90px;
    }
    header .gnb .gnb_wrap ul.depth1>li>a {
        font-size: 20px;
    }
}

@media screen and (max-width:880px){
    header {
        height: 50px;
    }
    header .logo {
        margin-top: 16px;
    }
    header .logo a {
        width: 88px;
        height: 18px;
    }
    header .gnb .gnb_open {
        position: absolute; /* header를 기준으로 정렬 */
        right: 0;
        top: 0;
        width: 50px;
        height: 100%; /* header의 높이와 동일 */
        font-size: 0;
        line-height: 0;
    }
    header .gnb .gnb_open::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%; /* gnb_open 사이즈가 바뀌어도 아이콘을 위아래/좌우 가운데 배치 */
        transform: translate(-50%, -50%);
        width: 24px;
        height: 24px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 17.2692V16.2692H20V17.2692H4ZM4 12.5V11.5H20V12.5H4ZM4 7.73071V6.73071H20V7.73071H4Z' fill='white'/%3E%3C/svg%3E ");
    }
    header .gnb .gnb_close {
        display: none;
        position: absolute; /* header를 기준으로 정렬 */
        right: 0;
        top: 0;
        width: 50px;
        height: 100%; /* header의 높이와 동일 */
        font-size: 0;
        line-height: 0;
    }
    header .gnb .gnb_close::before {
        content: "";
        position: absolute;
        right: 0;
        top: 50%; /* gnb_open 사이즈가 바뀌어도 아이콘을 위아래/좌우 가운데 배치 */
        transform: translate(-50%, -50%);
        width: 24px;
        height: 24px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.39989 18.3078L5.69214 17.6L11.2921 12L5.69214 6.40001L6.39989 5.69226L11.9999 11.2923L17.5999 5.69226L18.3076 6.40001L12.7076 12L18.3076 17.6L17.5999 18.3078L11.9999 12.7078L6.39989 18.3078Z' fill='%231D1D1D'/%3E%3C/svg%3E ");
    }
    header .gnb .gnb_wrap {
        display: none;
        position: absolute; /* header를 기준으로 정렬 */
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh; /* 브라우저 높이 */
        background-color: #fff;
        color: #1d1d1d;
        font-size: 16px;
        font-family: 'Pretendard';
        font-weight: 500;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin-top: 50px; /* 100px */
        height: calc(100vh - 50px); /* 50px -> 100px */
        overflow-y: auto; /* 좌우스크롤 바는 금지 , 세로스크롤바는 콘텐츠가 넘치면 생김 */
    }
    header .gnb .gnb_wrap ul.depth1>li {
        border-bottom: 1px solid #e6e6e6;
    }
    header .gnb .gnb_wrap ul.depth1>li:first-child {
        border-top: 1px solid #e6e6e6;
    }
    header .gnb .gnb_wrap ul.depth1>li>a {
        display: block;
        position: relative;
        line-height: 2.0;
        padding: 15px 20px;
    }
    header .gnb .gnb_wrap ul.depth1>li>a::after {
        content: "";
        position: absolute;
        right: 0;
        top: 25px;
        width: 14px;
        height: 8px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='8' viewBox='0 0 15 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.05867 6.11753L13.1762 -4.11427e-08L14.1174 0.941235L7.05867 8L-0.000100177 0.941234L0.941135 -5.75954e-07L7.05867 6.11753Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap ul.depth1>li.open>a {
        color: #ED1C24;
    }
    header .gnb .gnb_wrap ul.depth1>li.open>a::after {
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='8' viewBox='0 0 15 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.05877 1.88247L0.941235 8L1.12241e-08 7.05876L7.05877 8.41749e-08L14.1175 7.05877L13.1763 8L7.05877 1.88247Z' fill='%23ED1C24'/%3E%3C/svg%3E ");
    }
    header .gnb .gnb_wrap ul.depth2 {
        display: none;
        background-color: #e6e6e6;
        padding: 8px 20px;
    }
    header .gnb .gnb_wrap .open ul.depth2 {
        display: block;
    }
    header .gnb .gnb_wrap ul.depth2>li>a {
        display: block;
        line-height: 2.3;
        font-size: 15px;
    }
    header .tnb {
        display: none;
        position: absolute;
        left: 120px;
        top: 16px;
        color: #1d1d1d;
    }
    header .tnb .lang {
        position: relative;
        padding-right: 20px;
        font-weight: 500;
    }
    header .tnb .lang::after {
        content: "";
        position: absolute;
        right: 0;
        top: 4px;
        width: 15px;
        height: 15px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.7947 18.1635L14.3447 14.7135V17.65H13.3447V13H17.9947V14H15.0332L18.4832 17.45L17.7947 18.1635ZM9.34473 18C8.09973 18 6.92973 17.7638 5.83473 17.2915C4.73973 16.8192 3.78723 16.1782 2.97723 15.3685C2.16723 14.5588 1.52598 13.6067 1.05348 12.512C0.580977 11.4175 0.344727 10.2479 0.344727 9.00325C0.344727 7.75875 0.580893 6.58867 1.05323 5.493C1.52556 4.3975 2.16656 3.4445 2.97623 2.634C3.78589 1.8235 4.73806 1.18192 5.83273 0.70925C6.92723 0.236417 8.09681 0 9.34148 0C10.586 0 11.7561 0.236249 12.8517 0.708749C13.9472 1.18125 14.9002 1.8225 15.7107 2.6325C16.5212 3.4425 17.1628 4.395 17.6355 5.49C18.1083 6.585 18.3447 7.755 18.3447 9C18.3447 9.26917 18.3329 9.53842 18.3092 9.80775C18.2854 10.0769 18.2498 10.3462 18.2025 10.6155H17.1717C17.2294 10.3462 17.2726 10.0769 17.3015 9.80775C17.3303 9.53842 17.3447 9.26917 17.3447 9C17.3447 8.60683 17.3175 8.21367 17.263 7.8205C17.2085 7.42733 17.1203 7.03842 16.9985 6.65375H12.964C13.0396 7.03842 13.0931 7.42733 13.1245 7.8205C13.156 8.21367 13.1717 8.60683 13.1717 9C13.1717 9.26917 13.164 9.53842 13.1485 9.80775C13.1331 10.0769 13.1101 10.3462 13.0792 10.6155H12.0792C12.1101 10.3462 12.1331 10.0769 12.1485 9.80775C12.164 9.53842 12.1717 9.26917 12.1717 9C12.1717 8.60683 12.156 8.21367 12.1245 7.8205C12.0931 7.42733 12.0396 7.03842 11.964 6.65375H6.72548C6.64981 7.03842 6.59631 7.42783 6.56498 7.822C6.53348 8.21633 6.51773 8.61058 6.51773 9.00475C6.51773 9.39908 6.53348 9.79175 6.56498 10.1828C6.59631 10.5738 6.64981 10.9616 6.72548 11.3463H10.7292V12.3463H6.96398C7.20698 13.2029 7.52098 14.0247 7.90598 14.8117C8.29081 15.5987 8.77039 16.3308 9.34473 17.0078C9.61389 17.0078 9.88314 16.9933 10.1525 16.9645C10.4216 16.9357 10.6909 16.9046 10.9602 16.8712V17.8635C10.6909 17.8968 10.4216 17.9279 10.1525 17.9568C9.88314 17.9856 9.61389 18 9.34473 18ZM1.69098 11.3463H5.72548C5.64981 10.9616 5.59631 10.5722 5.56498 10.178C5.53348 9.78367 5.51773 9.38942 5.51773 8.99525C5.51773 8.60092 5.53348 8.20825 5.56498 7.81725C5.59631 7.42625 5.64981 7.03842 5.72548 6.65375H1.69098C1.56914 7.03842 1.48098 7.42783 1.42648 7.822C1.37198 8.21633 1.34473 8.61058 1.34473 9.00475C1.34473 9.39908 1.37198 9.79175 1.42648 10.1828C1.48098 10.5738 1.56914 10.9616 1.69098 11.3463ZM2.09848 5.65375H5.92398C6.11864 4.81925 6.38931 4.01958 6.73598 3.25475C7.08281 2.49008 7.52806 1.77308 8.07173 1.10375C6.74473 1.30125 5.55756 1.8035 4.51023 2.6105C3.46273 3.41767 2.65881 4.43208 2.09848 5.65375ZM8.07173 16.8962C7.56656 16.2141 7.13739 15.4907 6.78423 14.726C6.43089 13.9612 6.14723 13.1679 5.93323 12.3463H2.09848C2.65881 13.5551 3.46589 14.5631 4.51973 15.3703C5.57356 16.1773 6.75756 16.6859 8.07173 16.8962ZM6.96398 5.65375H11.7255C11.4998 4.79608 11.1849 3.98083 10.7807 3.208C10.3766 2.43517 9.89789 1.69658 9.34473 0.99225C8.78323 1.66925 8.30248 2.401 7.90248 3.1875C7.50248 3.974 7.18964 4.79608 6.96398 5.65375ZM12.7562 5.65375H16.591C16.0306 4.43208 15.2267 3.4145 14.1792 2.601C13.1319 1.7875 11.9447 1.28842 10.6177 1.10375C11.1229 1.78592 11.5425 2.51258 11.8765 3.28375C12.2105 4.05492 12.5037 4.84492 12.7562 5.65375Z' fill='%231D1D1D'/%3E%3C/svg%3E ");
    }
    header .tnb .aretera {
        position: relative;
        display: block;
        padding: 0 20px;
        font-weight: 500;
    }
    header .tnb .aretera::after {
        content: "";
        position: absolute;
        right: 0;
        top: 4px;
        width: 15px;
        height: 15px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.53493 16C2.0746 16 1.69027 15.8458 1.38193 15.5375C1.0736 15.2292 0.919434 14.8448 0.919434 14.3845V1.6155C0.919434 1.15517 1.0736 0.770833 1.38193 0.4625C1.69027 0.154167 2.0746 0 2.53493 0H8.15018V1H2.53493C2.38093 1 2.23985 1.06408 2.11168 1.19225C1.98352 1.32042 1.91943 1.4615 1.91943 1.6155V14.3845C1.91943 14.5385 1.98352 14.6796 2.11168 14.8078C2.23985 14.9359 2.38093 15 2.53493 15H15.3039C15.4579 15 15.599 14.9359 15.7272 14.8078C15.8554 14.6796 15.9194 14.5385 15.9194 14.3845V8.76925H16.9194V14.3845C16.9194 14.8448 16.7653 15.2292 16.4569 15.5375C16.1486 15.8458 15.7643 16 15.3039 16H2.53493ZM6.65793 10.9692L5.95018 10.2615L15.2117 1H10.9194V0H16.9194V6H15.9194V1.70775L6.65793 10.9692Z' fill='%231D1D1D'/%3E%3C/svg%3E ");
    }
    /* 메뉴가 열렸을때 */
    header.menu_open .logo {
        z-index: 1;
    }
    header.menu_open .logo a::before {
        background-image: url("data:image/svg+xml,%3Csvg width='88' height='19' viewBox='0 0 88 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M78 3.97237C78 4.11266 78.0197 4.2554 78.0763 4.38831C78.3225 4.99376 78.9404 5.3654 79.7282 5.05037C79.9178 4.97407 85.1369 2.87221 85.1369 2.87221C85.1369 2.87221 83.0812 8.08256 83.0049 8.277C82.7046 9.02274 83.064 9.69957 83.677 9.92846C83.8124 9.97768 83.9527 10.0023 84.0931 9.99983C84.5904 9.99737 85.031 9.70203 85.2452 9.11626C85.2797 9.02766 87.8498 1.97142 87.9065 1.79913C87.9385 1.70069 88 1.46441 88 1.29951C88 0.950021 87.8695 0.620221 87.6209 0.37164C87.3747 0.125521 87.0522 0 86.7051 0C86.5401 0 86.4023 0.0295343 86.1955 0.0959866C86.0724 0.135366 79.4451 2.60148 78.8789 2.81314C78.3102 3.02481 78 3.47521 78 3.97237Z' fill='%23ED1C24'/%3E%3Cpath d='M54.4575 17.8497V7.46423H60.9989V9.16998H56.4571V11.6103H60.5909V13.316H56.4571V16.144H61.1622V17.8497H54.4575Z' fill='%23454B52'/%3E%3Cpath d='M68.4583 17.8499L68.0135 17.1725C67.8666 17.2745 67.7483 17.3887 67.6014 17.4948C67.0097 17.8947 66.2915 18.0212 65.5855 18.0212C63.8063 18.0212 62.1699 16.9521 62.1699 15.0219C62.1699 13.5488 63.084 12.9162 64.0389 11.994C63.5084 11.3044 62.9942 10.7453 62.9942 9.81489C62.9942 8.38663 64.2307 7.62354 65.5406 7.62354C66.8505 7.62354 67.936 8.44784 67.936 9.83121C67.936 10.9942 67.2137 11.6553 66.4057 12.3449L68.1237 14.6669C68.4502 14.0344 68.4502 13.3447 68.4053 12.651L69.9029 12.6673C69.9192 12.8999 69.9315 13.1366 69.9315 13.3733C69.9315 14.3772 69.6989 15.2708 69.0949 16.0666L70.4171 17.8458H68.4502L68.4583 17.8499ZM65.0876 13.3937C64.5898 13.8956 63.9124 14.3323 63.9124 15.128C63.9124 16.0829 64.7612 16.4828 65.6181 16.4828C66.1323 16.4828 66.6914 16.3481 67.0586 15.9686L65.0876 13.3937ZM65.561 9.03955C65.104 9.03955 64.7204 9.33336 64.7204 9.81897C64.7204 10.3495 65.104 10.8188 65.4304 11.2187C65.8548 10.8636 66.369 10.378 66.369 9.77816C66.369 9.3048 66.0017 9.03955 65.561 9.03955Z' fill='%23454B52'/%3E%3Cpath d='M78.4195 16.7317C77.7462 17.658 76.6403 18.0538 75.5222 18.0538C74.1674 18.0538 72.931 17.556 72.0536 16.5073C71.1273 15.4177 70.8457 14.0996 70.8457 12.7162C70.8457 11.994 70.9069 11.2717 71.115 10.582C71.6863 8.56614 73.3227 7.25623 75.4365 7.25623C77.685 7.25623 78.9664 8.6396 79.0847 10.831H77.3626C77.1872 9.75772 76.5832 8.9783 75.4202 8.9783C73.437 8.9783 72.9228 11.137 72.9228 12.7285C72.9228 14.32 73.539 16.3155 75.4651 16.3155C76.8321 16.3155 77.3626 15.1973 77.4198 13.9935H79.2153C79.1745 14.9933 79.0276 15.9033 78.4236 16.7276' fill='%23454B52'/%3E%3Cpath d='M5.83545 17.8457L2.0118 12.3448L5.81913 7.46021H8.1125L4.22764 12.2714L8.37367 17.8416H5.83137L5.83545 17.8457ZM0 7.46429H1.99956V17.8457H0V7.46429Z' fill='%23454B52'/%3E%3Cpath d='M16.9228 15.6379C16.38 17.3722 14.7192 18.0537 13.0093 18.0537C11.2995 18.0537 9.74475 17.409 9.15713 15.744C8.93677 15.1238 8.9082 14.4504 8.9082 13.8016V7.46014H10.9118V13.4139C10.9118 14.0464 10.8792 14.8585 11.2057 15.4298C11.5688 16.095 12.3238 16.3112 13.0297 16.3112C13.6867 16.3112 14.4417 16.0909 14.8049 15.4869C15.1476 14.9156 15.1272 14.1689 15.1272 13.5159V7.45605H17.1309V13.9403C17.1309 14.5157 17.1023 15.087 16.9228 15.6338' fill='%23454B52'/%3E%3Cpath d='M27.0513 17.8456V9.74536L24.8314 17.8456H22.7747L20.5834 9.74536V17.8456H18.7878V7.46423H21.5668L23.8153 15.7155L26.0964 7.46423H28.8469V17.8456H27.0513Z' fill='%23454B52'/%3E%3Cpath d='M36.6654 17.8456V13.2589H32.5479V17.8456H30.5483V7.46423H32.5479V11.6103H36.6654V7.46423H38.6649V17.8456H36.6654Z' fill='%23454B52'/%3E%3Cpath d='M44.6759 8.96605C42.6641 8.96605 42.0724 10.9942 42.0724 12.6591C42.0724 14.3241 42.66 16.3481 44.6881 16.3481C46.7162 16.3481 47.3079 14.32 47.3079 12.6591C47.3079 10.9983 46.6917 8.96605 44.6759 8.96605ZM47.0304 17.4377C46.3245 17.8661 45.4838 18.0538 44.6759 18.0538C43.9985 18.0538 43.219 17.8825 42.6069 17.5682C40.689 16.5848 40.0034 14.6995 40.0034 12.655C40.0034 10.6106 40.6319 8.84363 42.4478 7.81529C43.1211 7.4317 43.9168 7.25623 44.6922 7.25623C45.9164 7.25623 47.108 7.70103 47.9568 8.58246C49.0055 9.6557 49.385 11.2023 49.385 12.6591C49.385 14.5975 48.7688 16.3889 47.0345 17.4377' fill='%23454B52'/%3E%3C/svg%3E ");
    }
    header.menu_open .gnb .gnb_open {
        display: none;
    }
    header.menu_open .gnb .gnb_close {
        display: block;
    }
    header.menu_open .gnb .gnb_wrap {
        display: block;
    }
    header.menu_open .tnb {
        display: flex;
    }
} /* 880px 이하 mobile media */

footer {
    color: #666666;
    padding: 45px 0;
    font-size: 15px;
    font-family: 'pretendard';
}
footer .wrapper {
    position: relative; /* familysite,youtube의 정렬기준*/
}
footer .youtube {
    position: absolute;
    color: #2d2d2d;
    right: 14px;
    top: 35px;
}
footer .youtube::before {
    content: "";
    position: absolute;
    left: -25px;
    top: 3px;
    width: 20px;
    height: 14px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='14' viewBox='0 0 20 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 4.38974C20 1.96923 18.0308 0 15.6103 0H4.38974C1.96923 0 0 1.96923 0 4.38974V9.61025C0 12.0308 1.95897 14 4.38974 14H15.6103C18.0308 14 20 12.041 20 9.61025V4.38974ZM13.4051 7.3846L8.3795 9.87693C8.18463 9.97949 7.5077 9.8359 7.5077 9.62052V4.51281C7.5077 4.28717 8.18463 4.14358 8.3795 4.2564L13.1898 6.87178C13.3949 6.9846 13.6 7.28203 13.3949 7.3846H13.4051Z' fill='%23FF0000'/%3E%3C/svg%3E ");
}
footer .youtube::after {
    content: "";
    position: absolute;
    right: -15px;
    top: 5px;
    width: 10px;
    height: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.33987 8.33341C2.14807 8.33341 1.98793 8.26918 1.85946 8.14071C1.73098 8.01223 1.66675 7.8521 1.66675 7.66029V2.33987C1.66675 2.14807 1.73098 1.98793 1.85946 1.85946C1.98793 1.73098 2.14807 1.66675 2.33987 1.66675H4.67956V2.08341H2.33987C2.27571 2.08341 2.21692 2.11012 2.16352 2.16352C2.11012 2.21692 2.08341 2.27571 2.08341 2.33987V7.66029C2.08341 7.72446 2.11012 7.78324 2.16352 7.83664C2.21692 7.89005 2.27571 7.91675 2.33987 7.91675H7.66029C7.72446 7.91675 7.78324 7.89005 7.83664 7.83664C7.89005 7.78324 7.91675 7.72446 7.91675 7.66029V5.3206H8.33341V7.66029C8.33341 7.8521 8.26918 8.01223 8.14071 8.14071C8.01223 8.26918 7.8521 8.33341 7.66029 8.33341H2.33987ZM4.05779 6.23727L3.76289 5.94237L7.62185 2.08341H5.83341V1.66675H8.33341V4.16675H7.91675V2.37831L4.05779 6.23727Z' fill='%232D2D2D'/%3E%3C/svg%3E ");
}
footer .familysite {
    position: absolute;
    right: 0;
    top: 0;
    width: 142px;
}
footer .familysite ul {
    display: none;
    position: absolute; /* familysite를 기준으로 정렬 */
    left: 0;
    bottom: 27px;
    width: 100%;
    background-color: #2D2D2D;
    color: #fff;
    padding: 14px 19px;
}
footer .familysite ul li a {
    display: block;
    line-height: 1.8;
}
footer .familysite button {
    position: relative;
    /* border-bottom: 1px solid #2d2d2d; */
    width: 100%;
    height: 22px;
    /* text-align: left; */
}
footer .familysite button:hover {
    color: #ED1C24;
}
footer .familysite button:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='5' viewBox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.41173 1.17654L0.588272 5L-2.57142e-08 4.41173L4.41173 -1.92843e-07L8.82346 4.41173L8.23518 5L4.41173 1.17654Z' fill='%23ED1C24'/%3E%3C/svg%3E ");
}
footer .familysite button::after {
    content: "";
    position: absolute;
    right: 0;
    top: 2px;
    width: 10px;
    height: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='5' viewBox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.41173 1.17654L0.588272 5L-2.57142e-08 4.41173L4.41173 -1.92843e-07L8.82346 4.41173L8.23518 5L4.41173 1.17654Z' fill='%232D2D2D'/%3E%3C/svg%3E ");
}
footer .familysite .family_close {
    display: none;
}
footer .familysite .family_close::after {
    content: "";
    transform: rotate(180deg);
}
/* footer .familysite.open ul {
    display: block; 
} */
footer .familysite.open .family_close {
    display: block;
}
footer .familysite.open .family_open {
    display: none;
}
footer .f_nav ul {
    display: flex;
}
footer .f_nav ul li {
    margin-right: 3em;
    position: relative; /* after의 정렬 기준 */
}
footer .f_nav ul li::after {
    content: "";
    position: absolute;
    right: -21px;
    top: 8px;
    width: 1px;
    height: 8px;
    background-color: rgba(0,0,0,0.2);
}
footer .f_nav ul li:last-child::after {
    display: none;
}
footer .copyright {
    margin: 87px 0 0 0;
    color: rgba(102,102,102,0.8);
}
@media screen and (min-width:881px) and (max-width:1279px) {
    
}
@media screen and (max-width:880px){
    footer {
        padding: 20px 0;
    }
    footer .wrapper {
        position: relative; /* familysite,youtube의 정렬기준*/
    }
    footer .youtube {
        position: relative;
        color: #2d2d2d;
        text-align: center;
        right: auto;
        top: auto;
    }
    footer .familysite {
        position: relative;
        right: 0;
        top: 0;
        width: 119px;
        margin: 40px auto 55px auto;
    }
    footer .familysite button::after {
        right: -10px;
    }
    footer .f_nav ul {
        display: flex;
        flex-wrap: wrap;
    }
    footer .copyright {
        margin: 45px 0 0 0;
        color: rgba(102,102,102,0.8);
    }
}