@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

.visual h2 {
    display: none; /* 숨김 */
}
.visual ul li {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; /* 브라우저 높이만큼 */
    min-height: 450px; /* 최소 높이 */
    color: #fff;
    text-align: center;
}
.visual ul li.bg1 {
    background-image: url(../images/main/visual_bg1.png);
}
.visual ul li.bg2 {
    background-image: url(../images/main/visual_bg2.png);
}
.visual ul li.bg3 {
    background-image: url(../images/main/visual_bg3.png);
}
.visual ul li.bg4 {
    background-image: url(../images/main/visual_bg4.png);
}
.visual ul li h3 {
    font-size: 55px;
    font-weight: 500;
    line-height: 1.2;
    margin: 40vh 0 0 0;
}
.visual .btn_wrap {
    position: absolute;
    left: 50%; /*화면 중앙*/
    transform: translate(-50%,0); /* 화면정렬의 기준 (swiper)넓이의 왼쪽 50%부터 [left 50%]
                                     btn_warp 넓이의 절반을 왼쪽으로 이동 (transform) 그래서 가운데 정렬이 됨 */
    bottom: 20%;
    z-index: 1;
    color: #fff;
    display: flex;
    align-items: center;
}
.visual .btn_wrap .paging {
    width: auto; /* swiper가 준 width:100%값 해제*/
    display: flex;
}
.visual .btn_wrap .paging .swiper-pagination-bullet { /* 현재 선택되지 않은 불렛*/
    width: 190px;
    height: 10px;
    border-radius: 0;
    background-color: rgba(217,217,217,0.2);
    opacity: 1;
    position: relative;
}
.visual .btn_wrap .paging .swiper-pagination-bullet-active::before { /* 현재 선택된 불렛 */
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #d9d9d9;
    animation-name: visual_count;
    animation-duration: 5s;
    animation-iteration-count: 1; /* 1번만 실행 */
    animation-fill-mode: forwards; /* 애니메이션 종료 후 마지막 상태 유지 (반복이 아닐때) */
    animation-timing-function: linear; /* 가속도 제거 */
}
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 0 0 24px;
}
@keyframes visual_count {
    0% {width: 0;}
    100% {width: 100%;}
}
.visual .btn_wrap button {
    width: 10px;
    height: 17px;
    font-size: 0;
    line-height: 0;
    position: relative; /*icon을 넣기위해*/
    margin: 0 0 0 25px;
}
.visual .btn_wrap button::before {
    content: "";
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.visual .btn_wrap .btn_play {
    display: none;
}
.visual .btn_wrap button.btn_prev::before {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='18' viewBox='0 0 10 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.82346 17.8234L0 8.99997L8.82346 0.176514L10 1.35306L2.35309 8.99997L10 16.6469L8.82346 17.8234Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_stop::before {
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.327393 10.7682V0.76825H10.3274V10.7682H0.327393ZM1.32739 9.76825H9.32739V1.76825H1.32739V9.76825Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_play::before {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='14' viewBox='0 0 10 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 13.3405V0.604614L10 6.97254L0 13.3405ZM1.22643 11.0811L7.7124 6.97254L1.22643 2.864V11.0811Z' fill='white'/%3E%3C/svg%3E ");
}
.visual .btn_wrap button.btn_next::before {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='18' viewBox='0 0 10 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.64691 8.99997L0 1.35306L1.17654 0.176514L10 8.99997L1.17654 17.8234L0 16.6469L7.64691 8.99997Z' fill='white'/%3E%3C/svg%3E%0A");
}
@media screen and (max-width:880px){ /* 모바일 */
    .visual ul li {
        height: 600px; /* 브라우저 높이만큼 */
        min-height: auto; /* 최소 높이 */
    }
    .visual ul li h3 {
        font-size: 24px;
        margin: 185px 0 0 0;
    }
    .visual .btn_wrap .btn_prev,
    .visual .btn_wrap .btn_next {
        display: none;
    }
    .visual .btn_wrap .paging .swiper-pagination-bullet { /* 현재 선택되지 않은 불렛*/
        width: 45px;
        height: 5px;
    }
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 0 0 12px;
    }
} /* visual media */
section .tit h2 {
    font-size: 32px;
    font-weight: 500;
    margin: 96px 0 8px 0;
}
section .tit h2 span {
    position: relative; /* after 정렬의 기준 */
}
section .tit h2 span::after {
    content: "";
    position: absolute;
    top: 0;
    right: -15px;
    width: 15px;
    height: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='16' viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.02128C0 6.23176 0.0295412 6.44594 0.114475 6.64535C0.483751 7.55377 1.41064 8.11138 2.59232 7.63871C2.87666 7.52423 10.7053 4.37061 10.7053 4.37061C10.7053 4.37061 7.62186 12.1882 7.50739 12.4799C7.05687 13.5988 7.59601 14.6143 8.51551 14.9578C8.71861 15.0316 8.9291 15.0685 9.13959 15.0649C9.88553 15.0612 10.5465 14.618 10.8678 13.7392C10.9195 13.6062 14.7747 3.01906 14.8597 2.76057C14.9077 2.61286 15 2.25835 15 2.01094C15 1.48656 14.8043 0.991733 14.4313 0.618764C14.062 0.249488 13.5783 0.0611572 13.0576 0.0611572C12.8102 0.0611572 12.6034 0.10547 12.2932 0.205175C12.1086 0.264259 2.16765 3.96441 1.31832 4.28198C0.465291 4.59956 0 5.27534 0 6.02128Z' fill='%23ED1C24'/%3E%3C/svg%3E%0A");
}
section .tit p {
    margin: 0 0 40px 0;
}
.biz .list ul {
    display: flex;
}
.biz .list ul li {
    width: 25%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    position: relative;
    transition: 0.3s;
}
.biz .list ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
}
.biz .list ul li.biz1 {
    background-image: url(../images/main/biz01.png);
}
.biz .list ul li.biz2 {
    background-image: url(../images/main/biz02.png);
}
.biz .list ul li.biz3 {
    background-image: url(../images/main/biz03.png);
}
.biz .list ul li.biz4 {
    background-image: url(../images/main/biz04.png);
}
.biz .list ul li a {
    display: block;
    height: 750px;
    position: relative;
    z-index: 10;
    /*
        <li>
            ::before (position값이 있음)
            <a></a>
        </li>
        --li의 before가 position값이 있으면 a보다 더 위에 배치됨.
        a를 before위에 배치하려면 a에 position[position: relative]값을 주고 (z-index를 줌)
    
    
    */
}
.biz .list ul li a .inner {
    position: absolute; /* .biz .list ul li a를 기준으로 정렬,absolute인 이유는 hover 애니메이션을 부드럽게 하려고 */
    bottom: 40px;
    left: 0;
    margin: 0 10%;
    transition: 0.3s;
}
.biz .list ul li a .inner strong {
    display: block;
    font-size: 20px;
}
.biz .list ul li a .inner h3 {
    font-weight: 500;
    font-size: 28px;
    margin: 10px 0 12px 0;
    transition: 0.3s;
    white-space: nowrap;
}
.biz .list ul li a .inner p {
    font-size: 16px;
    transition: 0.3s;
    opacity: 0;
}
/* 하나의 li에 오버(on) 했을때*/
.biz .list ul li.on {
    width: 80%
}
.biz .list ul li.on::before {
    opacity: 0;
}
.biz .list ul li.on a .inner {
    bottom: 40px;
}
.biz .list ul li.on a .inner strong {
    font-size: 24px;
}
.biz .list ul li.on a .inner h3 {
    font-size: 32px;
}
.biz .list ul li.on a .inner p {
    font-size: 20px;
    opacity: 1;
}
.biz .list ul li.off::before {
    opacity: 0.4;
}
.biz .list ul li.off a {
    opacity: 0.6;
}
.biz .list ul li.off p {
    display: none;
}
@media screen and (min-width:881px) and (max-width:1279px) {
    /* .biz .list {
        overflow-x: auto;
    }
    .biz .list ul {
        gap: 16px;
        width: 1648px;
    }
    .biz .list ul li {
        width: 400px;
    }
    .biz .list ul li a {
        height: 500px;
    } */
    .visual ul li h3 {
        font-size: 48px;
        margin: 40vh 0 0 0;
    }
    section .tit h2 {
        font-size: 28px;
        margin: 96px 0 8px 0;
    }
    section .tit p {
        font-size: 16px;
    }
    .biz .list ul li a .inner strong {
        font-size: 18px;
    }
    .biz .list ul li a .inner h3 {
        font-size: 26px;
    }
}

@media screen and (max-width:880px){
    section .tit h2 {
        font-size: 20px;
    }
    section .tit p {
        display: none;
    }
    .biz .list ul {
        display: block;
    }
    .biz .list ul li {
        width: auto;
        margin-bottom: 10px;
    }
    .biz .list ul li a {
        height: 150px;
    }
    .biz .list ul li a .inner {
        bottom: 5px;
        left: 0;
        margin: 0 5%;
        width: calc(100% - 10%);
    }
    .biz .list ul li a .inner strong {
        font-size: 18px;
    }
    .biz .list ul li a .inner h3 {
        font-size: 22px;
        margin: 10px 0 5px 0;
        transition: 0.3s;
    }
    .biz .list ul li a .inner p {
        display: none;
    }
    .biz .list ul li.on {
        width: 80%
    }
    .biz .list ul li.off a {
        opacity: 1;
    }
} /* biz media */

.news .list ul li a {
    display: block;
    border-top: 3px solid #ED1C24;
}
.news .list ul li a:hover {
    position: relative;
}
.news .list ul li a:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 4px solid #ED1C24;
}
.news .list ul li a .date {
    display: block;
    font-weight: 500;
    font-size: 62px;
    margin: 17px 0 17px 0;
    text-align: center;
    color: #1d1d1d;
}
.news .list ul li a h3 {
    color: #2d2d2d;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.3;
    height: 2.6em;
    margin: 0 0 17px 0; 
    overflow: hidden;
}
.news .list ul li a p {
    color: #2d2d2d;
    line-height: 1.4;
    height: 5.6em;
    overflow: hidden;
}
.news .swiper_bar {
    display: flex;
    margin: 60px 0 0 0;
    justify-content: center;
    align-items: baseline;
}
.news .swiper_bar .swiper-scrollbar {
    border-radius: 0;
    background: rgba(29,29,29,0.5);
}
.news .swiper_bar .swiper-scrollbar-drag {
    border-radius: 0;
    background: rgba(237,28,36,0.8);
    cursor: grab;
}
.news .swiper_bar .scroll {
    position: relative; /* swiper-scrollbar 정렬의 기준*/
    width: calc(100% - 388px);
}
/* .news .swiper_bar .btn_wrap {
    display: flex;
    gap: 10px;
} */
.news .swiper_bar .btn_wrap button {
    display: none;
    width: 10px;
    height: 20px;
    font-size: 0;
    line-height: 0;
    position: relative;
}
.news .swiper_bar .btn_wrap {
    margin: 0 0 0 125px;
}
.news .swiper_bar .btn_wrap button::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='18' viewBox='0 0 10 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.64691 8.99997L0 1.35306L1.17654 0.176514L10 8.99997L1.17654 17.8234L0 16.6469L7.64691 8.99997Z' fill='%23D9D9D9'/%3E%3C/svg%3E ");
}
.news .swiper_bar .btn_wrap button.next::after {
    transform: rotate(180deg)   
}
.news .swiper_bar .btn_wrap a:hover {
    color: #ED1C24;
}
@media screen and (min-width:881px) and (max-width:1279px) {
    .news .list ul li a .date {
        font-size: 54px;
    }
    .news .list ul li a h3 {
        font-size: 26px;
        line-height: 1.4;
        height: 2.8em;
    }
    .news .list ul li a p {
        font-size: 18px;
    }
}
@media screen and (max-width:880px) {
    .news .list ul li {
        width: 265px;
    }
    .news .list ul li a .date {
        font-size: 40px;
        text-align: left;
    }
    .news .list ul li a h3 {
        font-size: 24px;
    }
    .news .list ul li a p {
        font-size: 16px;
        line-height: 1.2;
        height: 6.0em;
    }
    .news .swiper_bar {
        display: block;
        margin: 50px 0 0 0;
    }
    .news .swiper_bar .swiper-scrollbar {
        left: 0;
    }
    .news .swiper_bar .btn_wrap {
        display: block;
        text-align: center;
        margin: 0;
    }
    .news .swiper_bar .btn_wrap a {
        display: inline-block;
        margin: 55px 0 40px 0;
    }
    .news .swiper_bar .scroll {
        width: 100%;
    }
} /* news media */

.service {
    padding: 30px 0 115px 0; /* 브라우저 사이즈가 줄어들어서 글자가 여러줄이 되면 높이가 변경됨
                                아예 높이를 안주고 위아래 여백을 줌 */
    background: url(../images/main/service_bg.png) no-repeat center center / cover;
    color: #fff;
}
section.service .tit h2 {
    margin: 0 0 15px 0;
    font-size: 64px;
}
section.service .tit p {
    font-weight: 500;
    font-size: 32px;
}
.service .list ul {
    display: flex;
    justify-content: space-between;
    color: #1d1d1d;
}
.service .list ul li {
    width: calc(33.33% - 16px); /* 100*li의 갯수 , 중간여백 총합 24*2 = 48 / li의 갯수 (3) = 16 */
}
.service .list ul li a {
    display: block;
    height: 91px;
    background-color: #fff;
    transition: 0.5s;
}
.service .list ul li:hover a { /* 오버시 이동하는 애니메이션을 주면 오버 범위가 변경되기 때문에 오류가 발생함
                                  a가 이동하고 a를 감싸는 이동하지 않는 li에게 hover애니메이션을 줌 */
    transform: translate(-10px, -10px);
    box-shadow: 5px 5px 4px rgba(0,0,0,0.4);
}
