@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

.visual h2 {
    display: none; /* 숨김 */
}
.visual ul li {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; /* 브라우저 높이만큼 */
    min-height: 450px; /* 최소 높이 */
    color: #fff;
    text-align: center;
}
.visual ul li.bg1 {
    background-image: url(../images/main/visual_bg1.png);
}
.visual ul li.bg2 {
    background-image: url(../images/main/visual_bg2.png);
}
.visual ul li.bg3 {
    background-image: url(../images/main/visual_bg3.png);
}
.visual ul li.bg4 {
    background-image: url(../images/main/visual_bg4.png);
}
.visual ul li h3 {
    font-size: 55px;
    font-weight: 500;
    line-height: 1.2;
    margin: 40vh 0 0 0;
}
.visual .btn_wrap {
    position: absolute;
    left: 50%; /*화면 중앙*/
    transform: translate(-50%,0); /* 화면정렬의 기준 (swiper)넓이의 왼쪽 50%부터 [left 50%]
                                     btn_warp 넓이의 절반을 왼쪽으로 이동 (transform) 그래서 가운데 정렬이 됨 */
    bottom: 20%;
    z-index: 1;
    color: #fff;
    display: flex;
    align-items: center;
}
.visual .btn_wrap .paging {
    width: auto; /* swiper가 준 width:100%값 해제*/
    display: flex;
}
.visual .btn_wrap .paging .swiper-pagination-bullet { /* 현재 선택되지 않은 불렛*/
    width: 190px;
    height: 10px;
    border-radius: 0;
    background-color: rgba(217,217,217,0.2);
    opacity: 1;
    position: relative;
}
.visual .btn_wrap .paging .swiper-pagination-bullet-active::before { /* 현재 선택된 불렛 */
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #d9d9d9;
    animation-name: visual_count;
    animation-duration: 5s;
    animation-iteration-count: 1; /* 1번만 실행 */
    animation-fill-mode: forwards; /* 애니메이션 종료 후 마지막 상태 유지 (반복이 아닐때) */
    animation-timing-function: linear; /* 가속도 제거 */
}
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 0 0 24px;
}
@keyframes visual_count {
    0% {width: 0;}
    100% {width: 100%;}
}
.visual .btn_wrap button {
    width: 10px;
    height: 17px;
    font-size: 0;
    line-height: 0;
    position: relative; /*icon을 넣기위해*/
    margin: 0 0 0 25px;
}
.visual .btn_wrap button::before {
    content: "";
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.visual .btn_wrap .btn_play {
    display: none;
}
.visual .btn_wrap button.btn_prev::before {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='18' viewBox='0 0 10 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.82346 17.8234L0 8.99997L8.82346 0.176514L10 1.35306L2.35309 8.99997L10 16.6469L8.82346 17.8234Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_stop::before {
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.327393 10.7682V0.76825H10.3274V10.7682H0.327393ZM1.32739 9.76825H9.32739V1.76825H1.32739V9.76825Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_play::before {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='14' viewBox='0 0 10 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 13.3405V0.604614L10 6.97254L0 13.3405ZM1.22643 11.0811L7.7124 6.97254L1.22643 2.864V11.0811Z' fill='white'/%3E%3C/svg%3E ");
}
.visual .btn_wrap button.btn_next::before {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='18' viewBox='0 0 10 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.64691 8.99997L0 1.35306L1.17654 0.176514L10 8.99997L1.17654 17.8234L0 16.6469L7.64691 8.99997Z' fill='white'/%3E%3C/svg%3E%0A");
}
@media screen and (max-width:880px){ /* 모바일 */
    .visual ul li {
        height: 600px; /* 브라우저 높이만큼 */
        min-height: auto; /* 최소 높이 */
    }
    .visual ul li h3 {
        font-size: 24px;
        margin: 185px 0 0 0;
    }
    .visual .btn_wrap .btn_prev,
    .visual .btn_wrap .btn_next {
        display: none;
    }
    .visual .btn_wrap .paging .swiper-pagination-bullet { /* 현재 선택되지 않은 불렛*/
        width: 45px;
        height: 5px;
    }
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 0 0 12px;
    }
} /* visual media */
section .tit h2 {
    font-size: 32px;
    font-weight: 500;
    margin: 96px 0 8px 0;
}
section .tit h2 span {
    position: relative; /* after 정렬의 기준 */
}
section .tit h2 span::after {
    content: "";
    position: absolute;
    top: 0;
    right: -15px;
    width: 15px;
    height: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='16' viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.02128C0 6.23176 0.0295412 6.44594 0.114475 6.64535C0.483751 7.55377 1.41064 8.11138 2.59232 7.63871C2.87666 7.52423 10.7053 4.37061 10.7053 4.37061C10.7053 4.37061 7.62186 12.1882 7.50739 12.4799C7.05687 13.5988 7.59601 14.6143 8.51551 14.9578C8.71861 15.0316 8.9291 15.0685 9.13959 15.0649C9.88553 15.0612 10.5465 14.618 10.8678 13.7392C10.9195 13.6062 14.7747 3.01906 14.8597 2.76057C14.9077 2.61286 15 2.25835 15 2.01094C15 1.48656 14.8043 0.991733 14.4313 0.618764C14.062 0.249488 13.5783 0.0611572 13.0576 0.0611572C12.8102 0.0611572 12.6034 0.10547 12.2932 0.205175C12.1086 0.264259 2.16765 3.96441 1.31832 4.28198C0.465291 4.59956 0 5.27534 0 6.02128Z' fill='%23ED1C24'/%3E%3C/svg%3E%0A");
}
section .tit p {
    margin: 0 0 40px 0;
}
.biz .list ul {
    display: flex;
}
.biz .list ul li {
    width: 25%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    position: relative;
    transition: 0.3s;
}
.biz .list ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
}
.biz .list ul li.biz1 {
    background-image: url(../images/main/biz01.png);
}
.biz .list ul li.biz2 {
    background-image: url(../images/main/biz02.png);
}
.biz .list ul li.biz3 {
    background-image: url(../images/main/biz03.png);
}
.biz .list ul li.biz4 {
    background-image: url(../images/main/biz04.png);
}
.biz .list ul li a {
    display: block;
    height: 750px;
    position: relative;
    z-index: 10;
    /*
        <li>
            ::before (position값이 있음)
            <a></a>
        </li>
        --li의 before가 position값이 있으면 a보다 더 위에 배치됨.
        a를 before위에 배치하려면 a에 position[position: relative]값을 주고 (z-index를 줌)
    
    
    */
}
.biz .list ul li a .inner {
    position: absolute; /* .biz .list ul li a를 기준으로 정렬,absolute인 이유는 hover 애니메이션을 부드럽게 하려고 */
    bottom: 40px;
    left: 0;
    margin: 0 10%;
    transition: 0.3s;
}
.biz .list ul li a .inner strong {
    display: block;
    font-size: 20px;
}
.biz .list ul li a .inner h3 {
    font-weight: 500;
    font-size: 28px;
    margin: 10px 0 12px 0;
    transition: 0.3s;
    white-space: nowrap;
}
.biz .list ul li a .inner p {
    font-size: 16px;
    transition: 0.3s;
    opacity: 0;
}
/* 하나의 li에 오버(on) 했을때*/
.biz .list ul li.on {
    width: 80%
}
.biz .list ul li.on::before {
    opacity: 0;
}
.biz .list ul li.on a .inner {
    bottom: 40px;
}
.biz .list ul li.on a .inner strong {
    font-size: 24px;
}
.biz .list ul li.on a .inner h3 {
    font-size: 32px;
}
.biz .list ul li.on a .inner p {
    font-size: 20px;
    opacity: 1;
}
.biz .list ul li.off::before {
    opacity: 0.4;
}
.biz .list ul li.off a {
    opacity: 0.6;
}
.biz .list ul li.off p {
    display: none;
}
@media screen and (min-width:881px) and (max-width:1279px) {
    /* .biz .list {
        overflow-x: auto;
    }
    .biz .list ul {
        gap: 16px;
        width: 1648px;
    }
    .biz .list ul li {
        width: 400px;
    }
    .biz .list ul li a {
        height: 500px;
    } */
    .visual ul li h3 {
        font-size: 48px;
        margin: 40vh 0 0 0;
    }
    section .tit h2 {
        font-size: 28px;
        margin: 96px 0 8px 0;
    }
    section .tit p {
        font-size: 16px;
    }
    .biz .list ul li a .inner strong {
        font-size: 18px;
    }
    .biz .list ul li a .inner h3 {
        font-size: 26px;
    }
}

@media screen and (max-width:880px){
    section .tit h2 {
        font-size: 20px;
        margin: 60px 0 8px 0;
    }
    section .tit p {
        display: none;
    }
    .biz .list ul {
        display: block;
    }
    .biz .list ul li {
        width: auto;
        margin-bottom: 10px;
    }
    .biz .list ul li a {
        height: 150px;
    }
    .biz .list ul li a .inner {
        bottom: 5px;
        left: 0;
        margin: 0 5%;
        width: calc(100% - 10%);
    }
    .biz .list ul li a .inner strong {
        font-size: 18px;
    }
    .biz .list ul li a .inner h3 {
        font-size: 22px;
        margin: 10px 0 5px 0;
        transition: 0.3s;
    }
    .biz .list ul li a .inner p {
        display: none;
    }
    .biz .list ul li.on {
        width: 80%
    }
    .biz .list ul li.off a {
        opacity: 1;
    }
} /* biz media */

.news .list ul li a {
    display: block;
    border-top: 3px solid #ED1C24;
}
.news .list ul li a:hover {
    position: relative;
}
.news .list ul li a:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 4px solid #ED1C24;
}
.news .list ul li a .date {
    display: block;
    font-weight: 500;
    font-size: 62px;
    margin: 17px 0 17px 0;
    text-align: center;
    color: #1d1d1d;
}
.news .list ul li a h3 {
    color: #2d2d2d;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.3;
    height: 2.6em;
    margin: 0 0 17px 0; 
    overflow: hidden;
}
.news .list ul li a p {
    color: #2d2d2d;
    line-height: 1.4;
    height: 5.6em;
    overflow: hidden;
}
.news .swiper_bar {
    display: flex;
    margin: 100px 0 140px 0;
    justify-content: center;
    align-items: baseline;
    position: relative;
}
.news .swiper_bar .swiper-scrollbar {
    border-radius: 0;
    background: rgba(29,29,29,0.5);
}
.news .swiper_bar .swiper-scrollbar-drag {
    border-radius: 0;
    background: rgba(237,28,36,0.8);
    cursor: grab;
}
.news .swiper_bar .scroll {
    position: relative; /* swiper-scrollbar 정렬의 기준*/
    width: calc(100% - 388px);
}
/* .news .swiper_bar .btn_wrap {
    display: flex;
    gap: 10px;
} */
.news .swiper_bar .btn_wrap button {
    display: none;
    width: 10px;
    height: 20px;
    font-size: 0;
    line-height: 0;
    position: relative;
}
.news .swiper_bar .btn_wrap { /* 그냥 abslolute로 빼기 */
    position: absolute;
    bottom: 0;
    right: 0;
}
.news .swiper_bar .btn_wrap button::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='18' viewBox='0 0 10 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.64691 8.99997L0 1.35306L1.17654 0.176514L10 8.99997L1.17654 17.8234L0 16.6469L7.64691 8.99997Z' fill='%23D9D9D9'/%3E%3C/svg%3E ");
}
.news .swiper_bar .btn_wrap button.next::after {
    transform: rotate(180deg)   
}
.news .swiper_bar .btn_wrap a:hover {
    color: #ED1C24;
}
@media screen and (min-width:881px) and (max-width:1279px) {
    .news .list ul li a .date {
        font-size: 54px;
    }
    .news .list ul li a h3 {
        font-size: 26px;
        line-height: 1.4;
        height: 2.8em;
    }
    .news .list ul li a p {
        font-size: 18px;
    }
}
@media screen and (max-width:880px) {
    .news .list ul li {
        width: 265px;
    }
    .news .list ul li a .date {
        font-size: 40px;
        text-align: left;
    }
    .news .list ul li a h3 {
        font-size: 24px;
    }
    .news .list ul li a p {
        font-size: 16px;
        line-height: 1.2;
        height: 6.0em;
    }
    .news .swiper_bar {
        display: block;
        margin: 50px 0 0 0;
    }
    .news .swiper_bar .swiper-scrollbar {
        left: 0;
    }
    .news .swiper_bar .btn_wrap {
        display: block;
        position: static;
        text-align: center;
        margin: 0;
    }
    .news .swiper_bar .btn_wrap a {
        display: inline-block;
        margin: 55px 0 40px 0;
    }
    .news .swiper_bar .scroll {
        width: 100%;
    }
} /* news media */

.service {
    padding: 30px 0 115px 0; /* 브라우저 사이즈가 줄어들어서 글자가 여러줄이 되면 높이가 변경됨
                                아예 높이를 안주고 위아래 여백을 줌 */
    background: url(../images/main/service_bg.png) no-repeat center center / cover;
    color: #fff;
}
section.service .tit h2 {
    margin: 0 0 15px 0;
    font-size: 64px;
}
section.service .tit p {
    font-weight: 500;
    font-size: 32px;
}
.service .list ul {
    display: flex;
    justify-content: space-between;
    color: #1d1d1d;
}
.service .list ul li {
    width: calc(33.33% - 16px); /* 100*li의 갯수 , 중간여백 총합 24*2 = 48 / li의 갯수 (3) = 16 */
}
.service .list ul li a {
    display: block;
    height: 91px;
    /* text-align: center; */
    background-color: #fff;
    transition: 0.5s;
}
.service .list ul li:hover a { /* 오버시 이동하는 애니메이션을 주면 오버 범위가 변경되기 때문에 오류가 발생함
                                  a가 이동하고 a를 감싸는 이동하지 않는 li에게 hover애니메이션을 줌 */
    transform: translate(-10px, -10px);
    box-shadow: 5px 5px 4px rgba(0,0,0,0.4);
}
.service .list ul li a .inner {
    margin: 0 21px ;
    padding: 15px 0 0 60px;
    position: relative;
    /* display: inline-block;
    text-align: left; */
}
.service .list ul li.esg a .inner::before {
    content: "";
    position: absolute;
    left: 0;
    top: 20px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 37.4167V35.3333H18.7083V12.2927C17.7253 12.1135 16.8573 11.6674 16.1042 10.9542C15.351 10.241 14.8715 9.33958 14.6656 8.25H7.49062L13.5 23.274C13.4198 24.6628 12.7748 25.8448 11.5651 26.8198C10.355 27.7948 8.91667 28.2823 7.25 28.2823C5.58333 28.2823 4.14496 27.7948 2.9349 26.8198C1.72517 25.8448 1.08021 24.6628 1 23.274L7.00938 8.25H3.08333V6.16667H14.6656C14.8955 5.00486 15.4752 4.01997 16.4047 3.21198C17.3342 2.40399 18.4493 2 19.75 2C21.0507 2 22.1658 2.40399 23.0953 3.21198C24.0248 4.01997 24.6045 5.00486 24.8344 6.16667H36.4167V8.25H32.4906L38.5 23.274C38.4198 24.6628 37.7748 25.8448 36.5651 26.8198C35.355 27.7948 33.9167 28.2823 32.25 28.2823C30.5833 28.2823 29.145 27.7948 27.9349 26.8198C26.7252 25.8448 26.0802 24.6628 26 23.274L32.0094 8.25H24.8344C24.6285 9.33958 24.149 10.241 23.3958 10.9542C22.6427 11.6674 21.7747 12.1135 20.7917 12.2927V35.3333H38.5V37.4167H1ZM28.0635 23.074H36.4365L32.25 12.6089L28.0635 23.074ZM3.06354 23.074H11.4365L7.25 12.6089L3.06354 23.074ZM19.75 10.3333C20.6073 10.3333 21.3425 10.0269 21.9557 9.41406C22.5686 8.80087 22.875 8.06563 22.875 7.20833C22.875 6.35104 22.5686 5.6158 21.9557 5.00261C21.3425 4.38976 20.6073 4.08333 19.75 4.08333C18.8927 4.08333 18.1575 4.38976 17.5443 5.00261C16.9314 5.6158 16.625 6.35104 16.625 7.20833C16.625 8.06563 16.9314 8.80087 17.5443 9.41406C18.1575 10.0269 18.8927 10.3333 19.75 10.3333Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
}
.service .list ul li.inv a .inner::before {
    content: "";
    position: absolute;
    left: 0;
    top: 20px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.54365 29.8809L1 28.7507L9.27952 15.4845L14.9443 22.0994L22.4246 9.95962L26.2993 15.8077C25.9383 15.8634 25.6047 15.9258 25.2985 15.9948C24.9923 16.0641 24.6819 16.152 24.3671 16.2584L22.4935 13.4636L15.2455 25.2793L9.53349 18.6171L2.54365 29.8809ZM38.58 39L32.0981 32.585C31.5414 33.0017 30.932 33.3203 30.2698 33.5408C29.6077 33.7613 28.9159 33.8716 28.1946 33.8716C26.3426 33.8716 24.7782 33.2324 23.5014 31.9542C22.2243 30.6762 21.5857 29.1104 21.5857 27.2567C21.5857 25.4029 22.2243 23.8371 23.5014 22.5591C24.7782 21.2809 26.3426 20.6417 28.1946 20.6417C30.0467 20.6417 31.6111 21.2809 32.8879 22.5591C34.165 23.8371 34.8035 25.4029 34.8035 27.2567C34.8035 28.0029 34.6874 28.7135 34.4551 29.3885C34.2226 30.0633 33.886 30.6829 33.4454 31.2473L39.9273 37.6515L38.58 39ZM28.1946 31.9816C29.5164 31.9816 30.6336 31.5248 31.5463 30.6114C32.4589 29.6979 32.9153 28.5796 32.9153 27.2567C32.9153 25.9337 32.4589 24.8154 31.5463 23.902C30.6336 22.9885 29.5164 22.5317 28.1946 22.5317C26.8729 22.5317 25.7556 22.9885 24.843 23.902C23.9303 24.8154 23.474 25.9337 23.474 27.2567C23.474 28.5796 23.9303 29.6979 24.843 30.6114C25.7556 31.5248 26.8729 31.9816 28.1946 31.9816ZM31.67 16.2074C31.3625 16.1009 31.0557 16.0113 30.7494 15.9386C30.4429 15.8658 30.1251 15.8137 29.7959 15.7822L38.4564 2L40 3.1302L31.67 16.2074Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
}
.service .list ul li.rec a .inner::before {
    content: "";
    position: absolute;
    left: 0;
    top: 20px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.6667 31.2083C17.2948 31.2083 14.9965 31.6457 12.7719 32.5203C10.5469 33.395 8.47813 34.7339 6.56563 36.537V36.8974H32.6474V36.537C30.7884 34.7339 28.7623 33.395 26.5693 32.5203C24.3759 31.6457 22.075 31.2083 19.6667 31.2083ZM5.08333 35.0625C6.95833 33.2222 9.13715 31.7726 11.6198 30.7135C14.1024 29.6545 16.7847 29.125 19.6667 29.125C22.5486 29.125 25.2309 29.6545 27.7135 30.7135C30.1962 31.7726 32.375 33.2222 34.25 35.0625V7.73073H5.08333V35.0625ZM19.6667 23.3557C17.9198 23.3557 16.4415 22.7507 15.2318 21.5406C14.0217 20.3309 13.4167 18.8526 13.4167 17.1057C13.4167 15.3589 14.0217 13.8806 15.2318 12.6708C16.4415 11.4608 17.9198 10.8557 19.6667 10.8557C21.4135 10.8557 22.8918 11.4608 24.1016 12.6708C25.3116 13.8806 25.9167 15.3589 25.9167 17.1057C25.9167 18.8526 25.3116 20.3309 24.1016 21.5406C22.8918 22.7507 21.4135 23.3557 19.6667 23.3557ZM19.6667 21.2724C20.8017 21.2724 21.78 20.8618 22.6016 20.0406C23.4227 19.2191 23.8333 18.2408 23.8333 17.1057C23.8333 15.9707 23.4227 14.9924 22.6016 14.1708C21.78 13.3497 20.8017 12.9391 19.6667 12.9391C18.5316 12.9391 17.5533 13.3497 16.7318 14.1708C15.9106 14.9924 15.5 15.9707 15.5 17.1057C15.5 18.2408 15.9106 19.2191 16.7318 20.0406C17.5533 20.8618 18.5316 21.2724 19.6667 21.2724ZM3 38.9807V5.64739H10.051V1H12.2948V5.64739H27.199V1H29.2823V5.64739H36.3333V38.9807H3ZM19.6865 36.8974H32.6474H6.56563H19.6865Z' fill='%231D1D1D'/%3E%3C/svg%3E ");
}
.service .list ul li a .inner strong {
    font-size: 20px;
    font-weight: 500;
    color: #ED1C24;
}
.service .list ul li a .inner h3 {
    font-size: 15px;
    color: #1d1d1d;
    margin-top: 8px;
}

@media screen and (min-width:881px) and (max-width:1279px) {
    section.service .tit h2 {
        font-size: 52px;
    }
    section.service .tit p {
        font-size: 24px;
    }
}

@media screen and (max-width:880px) {
    section.service {
        padding: 15px 0 25px 0;
    }
    section.service .tit p {
        margin: 0 0 20px 0;
    }
    section.service .tit h2 {
        font-size: 40px;
        text-align: center;
    }
    section.service .tit p {
        display: block;
        font-size: 15px;
        text-align: center;
    }
    .service .list ul {
        display: block;
    }
    .service .list ul li {
        width: auto;
    }
    .service .list ul li a {
        text-align: center;
        margin: 0 0 20px 0;
    }
    .service .list ul li:last-child a {
        margin: 0;
    }
    .service .list ul li a .inner { /* 가운데 정렬 */
        position: relative;
        display: inline-block;
        text-align: left;
        width: 14em;
    }
    .service .list ul {
        margin: 0 8%;
    }
    .service .list ul li.esg a .inner::before {
        top: 25px;
    }
    .service .list ul li.inv a .inner::before {
        top: 25px;
    }
    .service .list ul li.rec a .inner::before {
        top: 25px;
    }
} /* service media */