@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

/* 각자의 서브페이지 콘텐츠 요소
   !!절대로 class명이 겹치면 안됨!!
   그래서 cts_(페이지명)으로 감싸서 겹침을 방지함  */

/* 회사소개/CEO 인사말 */
.cts_ceo {
    margin: 134px 0 285px 0;    
} 
.cts_ceo .photo_wrap .photo {
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}
.cts_ceo .photo_wrap .photo img {
    width: 60%;
    height: 100%;
    object-fit: cover;
}
.cts_ceo .introtext {
    display: block;
}
.cts_ceo .wrapper {
    display: flex;
    justify-content: space-between;
}
.cts_ceo .text {
    width: 40%;
}
/* 회사소개/CEO 인사말 */