@import url(default.css);
@import url(fonts.css); /* <이게 폰트 불러옴 */
@import url(common.css); /* <이게 공통사항 불러옴 */
/* ---------------------------------여기까지 기본 ---------------------------- 아래부터 삭제하고 ㄱ*/

.visual ul li {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    color: rgba(255,255,255,0.8);
}
.visual ul li.bg1 {
    background-image: url(../images/visual_bg1.png);
}
.visual ul li.bg2 {
    background-image: url(../images/visual_bg2.png);
}
.visual ul li.bg3 {
    background-image: url(../images/visual_bg3.png);
}
.visual ul li p {
    font-size: 30px;
    margin: 252px 0 0 0;
}
.visual ul li h2 {
    color: #fff;
    font-size: 100px;
    font-weight: 800;
    margin: 55px 0 0 393px;
}
.visual ul li h3 {
    color: rgba(255,255,255,0.2);
    font-size: 100px;
    margin: -150px 0 0 355px;
}
.visual .btn_prev,
.visual .btn_next {
    position: absolute;
    top: 413px;
    z-index: 1;
    width: 85px;
    height: 24px;
    font-size: 0px;
}
.visual .btn_prev::before,
.visual .btn_next::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.visual .btn_next::before {
    background-image: url("data:image/svg+xml,%3Csvg width='87' height='26' viewBox='0 0 87 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M47.8125 1L85 25H0' stroke='white' stroke-opacity='0.5'/%3E%3C/svg%3E%0A");
}
.visual .btn_prev::before {
    background-image: url("data:image/svg+xml,%3Csvg width='87' height='26' viewBox='0 0 87 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M39.1875 1L2 25H87' stroke='white' stroke-opacity='0.5'/%3E%3C/svg%3E ");
}
.visual .btn_next {
    right: 44px;
}
.visual .btn_prev {
    left: 44px;
}
@media screen and (max-width:1400px){
    .visual .btn_prev,
    .visual .btn_next {
    display: none;
}
}
@media screen and (max-width:640px){
    .visual ul li {
        height: 370px;
    }
    .visual ul li p {
        display: none;
    }
    .visual ul li h2 {
        color: #fff;
        font-size: 50px;
        font-weight: 800;
        margin: 183px 40px 0 40px;
    }
    .visual ul li h3 {
        color: rgba(255,255,255,0.2);
        font-size: 50px;
        margin: -75px 12px 0 28px;
    }
}
.book {
    margin: 110px 0 0 0;
}
.book .wrapper {
    position: relative;
}
.book .tit {
    float: left; /* 부유요소 */
}
.book .tit h2 {
    font-size: 30px;
    font-weight: 800;
    color: #1d1d1d;
}
.book .tit p {
    margin: 56px 0 0 0;
}
.book .list {
    margin: 0 0 0 214px;
    width: 1474px;
}
.book .list ul li {
    width: 190px;
}
/*.book .list ul li a .photo {
    overflow: hidden;
    font-size: 0; 이미지 하단 여백 삭제
    font-height: 0;
*/
.book .list ul li a .photo {
    border: 1px solid #1d1d1d;
}
.book .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 감싸는 요소 photo 영역에 이미지 꽉 채우기 */
    transition: 0.5s;
}
.book .list ul li a:hover .photo img {
    transform: scale3d(1.1, 1.1, 1); /* 가운데 기준으로 확대 */
}
.book .list ul li h3 {
    font-size: 16px;
    margin: 20px 0 11px 0;
}
.book .list ul li strong {
    font-size: 14px;
    color: rgba(45,45,45,0.7);
    /*--------1줄제한-------*/
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.book .more {
    position: absolute;
    color: #896447;
    left: 0;
    top: 45px;
}
.book .more a {
    padding: 0 40px 0 0;
    position: relative;
}
.book .more a::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 9.6px;
    top: 3px;
    left: 63px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='12' viewBox='0 0 22 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.25 1L20 10.6H-7.45058e-08' stroke='%23896447'/%3E%3C/svg%3E%0A");;
}

@media screen and (max-width:640px){
    .book {
        margin: 50px 0 0 0;
    }
    .book .tit {
        float: none; /* 부유요소 */
    }
    .book .tit h2 {
        font-size: 18px;
        margin: 0 0 25px 0;
    }
    .book .tit p {
        display: none;
    }
    .book .list {
        margin: 0 0 0 0;
        width: auto; 
    }
    .book .list ul li {
        width: auto; /* 넓이는 jqery가 줘서 auto로 풀어버림*/
    }
    /*.book .list ul li a .photo {
        overflow: hidden;
        font-size: 0; 이미지 하단 여백 삭제
        font-height: 0;
    */
    .book .list ul li h3 {
        font-size: 14px;
        margin: 25px 0 8px 0;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
    }
    .book .list ul li strong {
        font-size: 13px;
        text-align: center;
    }
    .book .more {
        left: 112px;
        top: 5px;
    }
    .book .more a {
        padding: 0 27px 0 0;
    }
    .book .more a::after {
        left: 49px;
    }
}

.interview {
    background-color: #EFE7DA;
    margin: 168px 0 0 0;
    padding: 115px 0 184px 0;
}
.interview .wrapper {
    position: relative;
}
.interview .tit {
    margin: 0 0 67px 0;
    text-align: center;
}
.interview .tit h2 {
    font-size: 70px;
    margin: 0 0 25px 0;
    color: #1d1d1d;
}
.interview .tit h2 .txtcolor {
    color: #896447;
}
.interview .list ul {
    display: flex;
    justify-content: space-between;
}
.interview .list ul li {
    width: 404px;
}
.interview .list ul li:nth-child(2) {
    margin: 70px 0 0 0;
}
.interview .list ul li a .photo img {
    border-radius: 45px 0 45px 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 감싸는 요소 photo 영역에 이미지 꽉 채우기 */
    transition: 0.5s;
    filter: grayscale(100%);
}
.interview .list ul li a .photo.second img {
    border-radius: 0 45px 0 45px;
}
.interview .more {
    position: absolute;
    top: 832px;
    left: 0;
    width: 100%;
    text-align: center;
}
.interview .more a {

}
footer {
    margin: 100px 0 0 0;
}